.mycard {
  border: 1px solid black;
  border-radius: 10px;
  width: 100px;
  padding: 10px;
  margin: 25px;
  background-color: yellow;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-header{
  max-width: 100%;
  max-height: 25px;
}